.App{
  width: 550px;
  height: atuo;
  background: linear-gradient(to bottom, #59d4d4f4, #0c0c9f);
  color: white;
  padding: 50px;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}

p{
  text-align: center;
  padding-top: 30px;
}

@media only screen and (max-width: 500px){
  .App{
    width: 100vw;
    height: 100vh;
    font-size: 0.9rem;
  }
  p{
    padding-top: 0;
  }
}