*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
  font-family: 'Arvo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: center;
  align-items: center;
}
